<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://images.tmdb.org/t/p/original/p1F51Lvj3sMopG948F5HsBbl43C.jpg"
        alt=""
      />
    </div>
    <div class="movie">
      <h2 class="movie-title">Sample Title</h2>
      <div class="movie-meta">
        <div class="info">
          <span class="rating">
            <span class="app-icon"> star </span>
            <span class="rating-value"> 7.5 </span>
            <span> /10 </span>
          </span>
          <span>463 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="movie-overview mt-4">OVerview</div>
    </div>
  </div>
</div>
