<div class="slider">
  <ng-container *ngFor="let movie of movies; let i = index">
    <div class="slide" *ngIf="i === slideIndex" @slide>
      <div class="slide-bg">
        <img
          [src]="'https://images.tmdb.org/t/p/original/' + movie.backdrop_path"
          alt=""
        />
      </div>
      <div class="movie">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <div class="movie-meta">
          <div class="info">
            <span class="rating">
              <span class="app-icon"> star </span>
              <span class="rating-value"> {{ movie.vote_average }} </span>
              <span> /10 </span>
            </span>
            <span>{{ movie.vote_count }} Reviews</span>
            <span>{{ movie.release_date }}</span>
          </div>
        </div>
        <div class="movie-overview mt-4">{{ movie.overview }}</div>
      </div>
    </div>
  </ng-container>
</div>
